<mat-toolbar>
    <span>Timus tracker</span>
    <span class="fill-remaining-space"></span>
    <div class="button-row">
        <a target="_blank" href="https://github.com/NurlashKO/timus_tracker" mat-button style="margin-left: auto"><img class="github-logo" height="28" width="28" />GitHub</a>
    </div>
</mat-toolbar>

<div class="content">
    <div class="example-header">
        <mat-form-field>
            <input autocomplete="off" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>


    <div class="table-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="solved_today">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Solved Today </mat-header-cell>
                <mat-cell *matCellDef="let element"> <a target="_blank" href="https://docs.google.com/document/d/1eYcz_UmxvG2POaRJEtTiZSxW3VQ5a07ajgrSYHQOGJg/edit?usp=sharing">//TODO</a> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="solved">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Solved </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.solved}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>

<footer>
    <mat-toolbar style="justify-content: center">
        <span style="font-size: 15px"> From NurlashKO with <i class="material-icons md-18" style="font-size: 18px;color: red">favorite</i></span>
    </mat-toolbar>
</footer>



<button class="fab" mat-fab color="primary" (click)="addUserClick()"><i class="material-icons md-36" style="font-size: 36dp;color: white">add</i></button>